.fa-star {
    font-size: 30px;
    color: #FF6060;
    margin: 0 5px;
}

.star-empty {
    color: gray;
}

@media (max-width: 750px) {
    .fa-star {
        margin-top: 60px;
        font-size: 16px;
    }
}