.tag-flex {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 30px 5%;
    width: 65%;

    .tag-add {
        p {
            background: #FF6060;
            color: white;
            font-size: 26px;
            width: 180px;
            text-align: center;
            padding: 5px 8px;
            border-radius: 10px;
        }
    }
}