.carou {
    position: relative;
    width: 90%;
    margin: 20px 5%;
    overflow: hidden;

    img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        border-radius: 25px;

        @media (max-width: 750px) {
            height: 400px;
        }
    }

    .carou-left {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 40px;
        background: none;
        border: none;
        font-size: 80px;
        color: white;
        font-weight: bold;
    }

    .carou-right {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        right: -230px;
        background: none;
        border: none;
        font-size: 80px;
        color: white;
        font-weight: bold;
    }

    .carou-left:focus, .carou-right:focus {
        outline: none;
    }

    .slide-count {
        position: absolute;
        transform: translate(-50%, -50%);
        bottom: 2%;
        left: 50%;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        font-weight: bold;
    }
}