.deroule {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    div {
        background: #FF6060;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 15px;
        margin-top: 20px;

        h1 {
            font-size: 34px;
            border-radius: 10px;
            padding-left: 8px;
            color: white;
        }

        button {
            background: none;
            border: none;
            transition: transform 0.3s;

            .fa-arrow-down {
                font-size: 34px;
                padding-right: 8px;
                color: white;
            }
        }

        button:hover {
            border: none;
        }

        button:active {
            border: none;
            transform: rotate(180deg);
        }

        button:focus {
            border: none;
            outline: none;
        }

        button.rotated {
            transform: rotate(180deg);
        }
    }

    p {
        font-size: 20px;
        padding: 5px 5px;
        opacity: 0; 
        transform: translateY(-50px); 
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, max-height 0.3s ease-out;
        z-index: -1;
        max-height: 0;
        overflow: hidden;
        background: #F6F6F6;
    }

    p.visible {
        opacity: 1;
        transform: translateY(0);
        max-height: 100%;
    }

    ul {
        font-size: 20px;
        padding: 5px 5px;
        opacity: 0; 
        transform: translateY(-50px); 
        transition: opacity 0.3s ease-out, transform 0.3s ease-out, max-height 0.3s ease-out;
        z-index: -1;
        max-height: 0;
        overflow: hidden;
        background: #F6F6F6;
    }

    ul.visible {
        opacity: 1;
        transform: translateY(0);
        max-height: 100%;
    }
}

.deroule1 {
    margin-bottom: 40px;
}

.other-element {
    transition: transform 0.3s ease-out;
    transform: translateY(0);
}

.other-element.moved ~ .other-element {
    transform: translateY(40px);
    transition: transform 0.3s ease-out;
}



