.deroule-annonce {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    gap: 5%;
    justify-content: center;
    
    @media (max-width: 750px) {
        justify-content: flex-start;
        flex-direction: column;
    }

    .other-element {
        width: 42.5%;

        @media (max-width: 750px) {
            width: 95%;
        }

        .deroule-annonce1 {
          width: 100%;
          display: flex;
          margin-left: 0;

          @media (max-width: 750px) {
            div h1 {
                font-size: 20px;
            }
          }
        }
    }

    .other-element.moved ~ .other-element {
        transform: translateY(0);
        transition: transform 0.3s ease-out;
    }
}