.housing-detail {
    h1 {
        color: #FF6060;
        width: 65%;
    }

    .housing-p {
        color: #FF6060;
        font-size: 26px;
        margin: 10px 5%;
    }

    .h1-host {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 10px 5%;
    }
}